
.plant-view {
  cursor: pointer;
  font-size: large;
  color: #36393D;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(9,30,66,.25);
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.plant-view:hover {
  color: #356AA0;
}

.bold {
  font-weight: bold;
}

.plant-page {
  font-size: medium;
  color: #36393D;
}

.residence-title {
  cursor: pointer;
  font-size: large;
  color: #36393D;  
}