
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination li {
  font-size: medium;
  padding-top: 1px;
  text-decoration:none;  
  min-width:44px;
  min-height:44px;
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35);
}

.pagination li a {
  color:#356AA0;
}

.breadcrumbs {
  letter-spacing: 3px;
  color:#356AA0;
}

.plant-view {
  cursor: pointer;
  font-size: large;
  color: #36393D;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(9,30,66,.25);
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.plant-view:hover {
  color: #356AA0;
}

.bold {
  font-weight: bold;
}

.plant-page {
  font-size: medium;
  color: #36393D;
}

.residence-title {
  cursor: pointer;
  font-size: large;
  color: #36393D;  
}

.sign-in-card {
  margin: 20px auto auto auto;
  border-radius: 30px;
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  padding: 20px;
  width: 60%;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.input-field {
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  box-sizing: border-box;
  padding: 7px;
}

.submit-button {
  background-color: rgb(90, 172, 68);
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}


.inner-section h1 {
  text-align: center;
  color: #5E6C84;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}