#root {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root > * {
  position: relative;
}

#navigation-bar {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #7c7c7c;
}

#navigation-bar > .entry {
  display: inline-block;
  height: 40px;
}

#navigation-bar > .entry.right {
  float: right;
}

#navigation-bar > .entry > .header {
  height: 40px;
  padding: 10px;
}

#navigation-bar > .entry > .header > a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

#navigation-bar > .entry > .brand {
  padding: 3px 5px 5px 10px;
  color:  rgb(90, 172, 68);
  font-size: x-large;
}

#navigation-bar > .entry > .dropdown {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 8px 16px -5px rgba(9,30,66,.25);
  right: 0;
  border-radius: 0px 0px 6px 6px;
  z-index: 10;
}

#navigation-bar > .entry > .dropdown > ul {
  display: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

#navigation-bar > .entry > .dropdown > ul > li {
  padding: 8px 10px 8px 10px;
  width: 100%;
  margin-bottom: 0px;
}
#navigation-bar > .entry > .dropdown > ul > li:hover {
  background-color: #d6d6d6;
  color: rgb(90, 172, 68);
  cursor: pointer;
}

#navigation-bar > .entry:hover > .dropdown > ul {
  display: block;
}